@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$color-primary: hsl(224, 55%, 47%);
$color-secondary: hsl(0, 0%, 98%);
$drop-down-hover: hsl(0, 0%, 88%);
$background-primary: hsl(0, 0%, 90%);
$background-secondary: hsl(0, 0%, 100%);
$background-hover: hsla(224, 55%, 47%, 0.10);
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 680px;
$breakpoint-mobile: 414px;

// UTILITIES 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: $background-secondary;
    font-size: 1.6rem;
    color: $color-primary;
}
h1, h2, h3, h4 {
    margin: 0;
}

li {
    list-style: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: $color-primary;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/////////////////////////////////////////////////////////////// LANDING PAGE

.landing__page {
    height: 100vh;
    background: $background-primary;
    .landing__grid {
        width: calc(100% - 10rem);
        max-width: 1440px;
        margin: 0 auto;
    }
}

nav {
    grid-area: nav;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    font-size: 1.8rem;
    font-weight: 400;
    .nav__logo {
        
        a {
            transition: 250ms ease;
        }
        :hover {
            opacity: 0.3;
        }
    }
    .nav__list {
        display: flex;
        &item {
            margin-left: 5rem;
            padding: 2rem 0.2rem;
            position: relative;
            &::after {
                content: "";
                width: 0;
                height: 0.2rem;
                position: absolute;
                left: 0rem;
                bottom: 1.4rem;
                background: $color-primary;
                transition: width 250ms ease-in-out;
            }
            &:hover::after, &:focus::after {
                width: 100%;
            }
            &:hover ul, &:focus ul {
                opacity: 1;
                visibility: visible;
            }
            &drop {
                display: flex;
                position: absolute;
                flex-direction: column;
                justify-content: center;
                background: $background-secondary;
                width: 25.7rem;
                padding: 1rem;
                gap: 0.1rem;
                top: 5.8rem;
                left: -9rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity 250ms ease-in-out;
                li {
                    padding: 1.2rem 0.1rem;
                    transition: background 250ms ease-in-out;
                    .nav__link1 {
                        padding: 1rem 2rem 1rem 2rem;
                    }
                    .nav__link2 {
                        padding: 1rem 15.5rem 1rem 2rem;
                    }
                    .nav__link3 {
                        padding: 1rem 8.5rem 1rem 2rem;
                    }
                    .nav__link4 {
                        padding: 1rem 11.55rem 1rem 2rem;
                    }
                    &:hover, &:focus {
                        background: $background-hover;
                    }
                }
            }
        }
    }
    .nav__listitem, .nav__arrow {
        transition: 300ms ease-in-out;
        &:hover .nav__arrow {
            transform: rotate(90deg);
        }
    }
    .nav__toggle {
        position: absolute;
        display: flex;
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        justify-content: space-between;
        width: 4rem;
        height: 1.8rem;
        top: 0rem;
        right: 0rem;
        .bar {
            height: 0.3rem;
            width: 100%;
            background-color: $color-primary;
        }
    }

    @media screen and (max-width: 1024px) {
        .nav__list {
            display: flex;
            flex-direction: column;
            background: $background-secondary;
            position: absolute;
            align-items: center;
            justify-content: center;
            top: 7rem;
            width: 100%;
            height: 90vh;
            font-size: 3rem;
            &item {
                margin: 4rem 0;
                padding: 0rem;
                a {
                    padding: 2rem;
                }
                &::after {
                    visibility: hidden;
                    opacity: 0;
                }
                &:hover::after, &:focus::after {
                    width: 0;
                }
                &:hover ul, &:focus ul {
                    opacity: 0;
                    visibility: hidden;
                }
                &drop {
                    display: none;
                }
            }
            img {
                width: 2.2rem;
            }
        }
        .nav__listitem, .nav__arrow {
            &:hover .nav__arrow {
                transform: rotate(0deg);
            }
        }
        .nav__toggle {
            visibility: visible;
            opacity: 1;
            width: 4rem;
            height: 1.8rem;
            top: 2.3rem;
            right: 0rem;
            .bar {
                height: 0.3rem;
                width: 100%;
                background-color: $color-primary;
            }
        }
    }
}

