@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$color-primary: hsl(224, 55%, 47%);
$color-secondary: hsl(0, 0%, 98%);
$drop-down-hover: hsl(0, 0%, 88%);
$background-primary: hsl(0, 0%, 90%);
$background-secondary: hsl(0, 0%, 100%);
$background-hover: hsla(224, 55%, 47%, 0.10);
$font-primary: 'Space Grotesk', sans-serif;

// UTILITIES 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    background: $background-secondary;
    font-size: 1.6rem;
    color: $color-primary;
}
h1, h2, h3, h4 {
    margin: 0;
}

li {
    list-style: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: $color-primary;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

img {
    width: 100%;
}

// MAIN

.container {
    width: calc(100% - 5rem);
    max-width: 1440px;
    margin: 0 auto;
}

header {
    height: 100vh;
    background-color:$background-primary;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 0;
    .logo a {
        font-size: 1.8rem;
        font-weight: 400;
    }
}

nav {
    position: relative;
    .nav__toggle {
        position: absolute;
        display: flex;
        visibility: visible;
        opacity: 1;
        flex-direction: column;
        justify-content: space-between;
        width: 4rem;
        height: 1.5rem;
        top: -0.7rem;
        right: 0rem;
        .bar {
            height: 0.2rem;
            width: 100%;
            background-color: $color-primary;
        }
    }
    ul {
        display: none;
    }
    img {
        width: 1.2rem;
    }

    @media screen and (min-width: 640px) {
        
    }
    @media screen and (min-width: 768px) {
        
    }
    @media screen and (min-width: 1024px) {
        .nav__toggle {
            display: none;
        }
        ul {
            position: relative;
            display: flex;
            &::after {
                content: "";
                width: 0%;
                height: 0.3rem;
                position: absolute;
                background-color: $color-primary;
                transition: width 250ms ease-in-out;
                bottom: 1.5rem;
                left: 0rem;
            }
            &:hover::after, &:focus::after {
                width: 100%;
            }
            &:hover ul, &:focus ul {
                opacity: 1;
                visibility: visible;
            li {
                margin-left: 5rem;
                
                .dropdown__menu {
                    display: flex;
                    position: absolute;
                    flex-direction: column;
                    background: $background-secondary;
                    padding: 1rem;
                    top: 3.8rem;
                    left: -2.5rem;
                    justify-content: center;
                    li {
                        margin: 0;
                        padding: 0.8rem 1rem;
                        cursor: pointer;
                        a {
                            width: max-content;
                        }
                        &:hover, &:focus {
                            background-color: rgba(55, 90, 187, 0.2);
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1280px) {
        
    }
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .emoji {
        border: 0.15rem solid $color-primary;
        border-radius: 50%;
        position: relative;
        height: 13rem;
        width: 13rem;
        margin: 4rem 0 2rem 0;
        img {
            position: absolute;
            right: 1.7rem;
            bottom: 1.5rem;
            width: 9.5rem;
        }
    }
    .title {
        margin-top: 1rem;
        h2 {
            font-weight: 300;
            font-size: 2rem;
            line-height: 3.8rem;
        }
    }
    .hover-btn button {
        background: transparent;
        border: 1px solid;
        width: 100%;
        height: 4.6rem;
        font-size: 1.8rem;
        font-family: $font-primary;
        font-weight: 300;
        color: $color-primary;
        margin-top: 10rem;
    }
    .down-arrow {
        margin-top: 15rem;
        img {
            height: 5rem;
            
            bottom: 20;

        }
    }
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

footer {

}