@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$color-primary: hsl(224, 55%, 47%);
$color-secondary: hsl(0, 0%, 98%);
$drop-down-hover: hsl(0, 0%, 88%);
$background-primary: hsl(0, 0%, 90%);
$background-secondary: hsl(0, 0%, 100%);
$background-hover: hsla(224, 55%, 47%, 0.10);
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 680px;
$breakpoint-mobile: 414px;


// UTILITIES 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    background: rgb(216, 216, 216);
    font-size: 1.6rem;
    color: $color-primary;
}
h1, h2, h3, h4 {
    margin: 0;
}

li {
    list-style: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: $color-primary;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.wrapper {
    width: calc(100% - 5rem);
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    p {
        font-size: 1.8rem;
        font-weight: 400;
    }
    .nav__container {
        position: relative;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
        }
        li {
            margin-left: 5rem;
        }
    }
}