@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$color-primary: #375BBB;
$color-secondary: #FAFAFA;
$drop-down-hover: #E1E1E1;
$background-primary: #E6E6E6;
$background-secondary: #ffffff;

// UTILITIES 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: $background-secondary;
    font-size: 1.6rem;
    color: $color-primary;
}
h1, h2, h3, h4 {
    margin: 0;
}

li {
    list-style: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: $color-primary;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/////////////////////////////////////////////////////////////// LANDING PAGE

.landing-page  {

    ////////////////////////////////// BACKGROUND & CONTAINER

    background-color: $background-primary;

    ////////////////////////////////////// GRID

    .landing-grid {
        height: 100vh;
        max-width: 140rem;
        margin: 0 auto;
        padding: 0 2rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: 0.4fr 2.1fr 0.4fr 1.1fr;
        grid-template-areas:
            "nav nav"
            "title emoji"
            "button button"
            "arrow arrow"
        ;

        /////////////////////////////// NAV

        .nav {
           grid-area: nav; 
           font-size: 1.8rem;
            &__list {
               display: flex;
               justify-content: flex-end;
               align-items: center;
               gap: 4rem;
               margin: 2rem 0rem;
                &logo {
                    margin-right: auto;
                    cursor: pointer;
                    transition: 250ms;
                    &:hover {
                        color: rgba(55, 90, 187, 0.4);
                    }
                }
                &item {
                    position: relative;
                    padding: 2rem 0.5rem;
                    cursor: pointer;
                    &::after {
                        content: "";
                        width: 0%;
                        height: 0.3rem;
                        position: absolute;
                        background-color: $color-primary;
                        transition: width 250ms ease-in-out;
                        bottom: 1.5rem;
                        left: 0rem;
                    }
                    &:hover::after, &:focus::after {
                        width: 100%;
                    }
                    &:hover ul, &:focus ul {
                        opacity: 1;
                        visibility: visible;
                    }
                    &drop {
                        position: absolute;
                        top: 5.9rem;
                        left: -7.6rem;
                        box-shadow: 0 0 25px rgba(44, 44, 44, 0.2);
                        background-color: $background-secondary;
                        padding: 1rem;
                        width: 23.4rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 400ms ease-in-out;
                        li {
                            padding: 1rem 1rem;
                            transition: background-color 200ms ease-in-out;
                            &:hover, &:focus {
                                background-color: rgba(55, 90, 187, 0.2);
                            }
                        }
                        a {
                            width: 23rem;
                        }
                    }
                }
            }
        }
        .nav__listitem, .nav__arrow {
            transition: 300ms ease-in-out;
            &:hover .nav__arrow {
                transform: rotate(90deg);
            }
        }
        .nav__toggle {
            position: absolute;
            display: flex;
            visibility: hidden;
            opacity: 0;
            flex-direction: column;
            justify-content: space-between;
            width: 4rem;
            height: 2.5rem;
            top: 4rem;
            right: 4rem;
            .bar {
                height: 0.3rem;
                width: 100%;
                background-color: $color-primary;
            }
        }


        /////////////////////////////// HERO

        // TITLE
        .title {
            padding-top: 8rem;
            grid-area: title;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: start;
            h2 {
                font-size: clamp(3.4rem, 3.4vw, 5rem);
                font-weight: 300;
                line-height: 1.6;
            }
        }
        // EMOJI
        .emoji {
            padding-top: 8rem;
            grid-area: emoji;
            display: flex;
            justify-content: center;
            align-items: center;
             .circle {
                 border: 2px solid $color-primary;
                 border-radius: 50%;
                 min-height: 40rem;
                 min-width: 40rem;
                 background-image: url(/images/emoji_peace.svg);
                 background-position: 3.4rem 2.3rem;
                 background-repeat: no-repeat;
                 background-size: 37rem;
             }    
        }
        // HOVER BUTTON
        .hover-btn {
            grid-area: button;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            border-bottom: 2px solid;
            button {
                border: 2px solid $color-primary;
                color: $color-primary;
                padding: 2rem 5rem;
                font-size: 1.8rem;
                font-weight: 300;
                font-family: 'Space Grotesk', sans-serif;
                background: transparent;
                margin-bottom: -0.2rem;
            }
        }
        // DROPDOWN BUTTON
        .down-arrow {
            padding-top: 8rem;
            grid-area: arrow;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 1rem;
            img {
                height: 5rem;
            }
            
        }
    }
}

/////////////////////////////////////////////////////////////// PROJECTS SECTION

.projects {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2rem;
    .projects-grid {
        margin: 15rem 0;
        display: grid;
        grid-template-columns: 0.85fr 1.15fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10rem 5rem;
        grid-template-areas: 
            "image1 info1"
            "image2 info2"
            "image3 info3"
            "image4 info4"
        ;
        //// PROJECT: MUNCH
        .project-image-1 {
            height: 30rem;
            background-image: url(/images/munch-iphone.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-self: center;
        }
        .project-info-1 {
            height: 35rem;
            display: grid;
            grid-template-columns: 8rem 1fr 8rem;
            grid-template-rows: 0.5fr 8rem 1.5fr;
            grid-template-areas: 
            ". . ."
            "number heading button"
            ". description description"
            ;
            .number {
                grid-area: number;
                border-bottom: .2rem solid $color-primary;
                border-right: .2rem solid $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 4rem;
                font-weight: 300;
            }
            .heading {
                grid-area: heading;
                border-bottom: .2rem solid $color-primary;
                display: flex;
                justify-content: left;
                align-items: center;
                padding-left: 2rem;
                font-size: 4rem;
                font-weight: 300;
            }
            .button {
                grid-area: button;
                border: .2rem solid $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url(/images/arrow-angle.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 1.7rem;
            }
            .description {
                grid-area: description;
                display: flex;
                justify-content: left;
                align-items: flex-start;
                padding: 2rem 0 0 2rem;
                font-size: 2.3rem;
                font-weight: 300;
                line-height: 1.5;
            }
        }
        //// PROJECT: DEPARTMENT OF ENERGY
        .project-image-2 {
            height: 30rem;
            background-image: url(/images/doe-mac.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-self: center;
        }
        .project-info-2 {
            height: 35rem;
            display: grid;
            grid-template-columns: 8rem 1fr 8rem;
            grid-template-rows: 0.5fr 8rem 1.5fr;
            grid-template-areas: 
            ". . ."
            "number heading button"
            ". description description"
            ;
            .number {
                grid-area: number;
                border-bottom: .2rem solid $color-primary;
                border-right: .2rem solid $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 4rem;
                font-weight: 300;
            }
            .heading {
                grid-area: heading;
                border-bottom: .2rem solid $color-primary;
                display: flex;
                justify-content: left;
                align-items: center;
                padding-left: 2rem;
                font-size: 4rem;
                font-weight: 300;
            }
            .button {
                grid-area: button;
                border: .2rem solid $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url(/images/arrow-angle.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 1.7rem;
            }
            .description {
                grid-area: description;
                display: flex;
                justify-content: left;
                align-items: flex-start;
                padding: 2rem 0 0 2rem;
                font-size: 2.3rem;
                font-weight: 300;
                line-height: 1.5;
            }
        }
        //// PROJECT: PLAY IT FORWARD
        .project-image-3 {
            height: 30rem;
            background-image: url(/images/pif-mac.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-self: center;
        }
        .project-info-3 {
            height: 35rem;
            display: grid;
            grid-template-columns: 8rem 1fr 8rem;
            grid-template-rows: 0.5fr 8rem 1.5fr;
            grid-template-areas: 
            ". . ."
            "number heading button"
            ". description description"
            ;
            .number {
                grid-area: number;
                border-bottom: .2rem solid $color-primary;
                border-right: .2rem solid $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 4rem;
                font-weight: 300;
            }
            .heading {
                grid-area: heading;
                border-bottom: .2rem solid $color-primary;
                display: flex;
                justify-content: left;
                align-items: center;
                padding-left: 2rem;
                font-size: 4rem;
                font-weight: 300;
            }
            .button {
                grid-area: button;
                border: .2rem solid $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url(/images/arrow-angle.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 1.7rem;
            }
            .description {
                grid-area: description;
                display: flex;
                justify-content: left;
                align-items: flex-start;
                padding: 2rem 0 0 2rem;
                font-size: 2.3rem;
                font-weight: 300;
                line-height: 1.5;
            }
        }
        //// PROJECT: MOMENTUM
        .project-image-4 {
            height: 30rem;
            background-image: url(/images/momentum-iphone.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-self: center;
        }
        .project-info-4 {
            height: 35rem;
            display: grid;
            grid-template-columns: 8rem 1fr 8rem;
            grid-template-rows: 0.5fr 8rem 1.5fr;
            grid-template-areas: 
            ". . ."
            "number heading button"
            ". description description"
            ;
            .number {
                grid-area: number;
                border-bottom: .2rem solid $color-primary;
                border-right: .2rem solid $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 4rem;
                font-weight: 300;
            }
            .heading {
                grid-area: heading;
                border-bottom: .2rem solid $color-primary;
                display: flex;
                justify-content: left;
                align-items: center;
                padding-left: 2rem;
                font-size: 4rem;
                font-weight: 300;
            }
            .button {
                grid-area: button;
                border: .2rem solid $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url(/images/arrow-angle.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 1.7rem;
            }
            .description {
                grid-area: description;
                display: flex;
                justify-content: left;
                align-items: flex-start;
                padding: 2rem 0 0 2rem;
                font-size: 2.3rem;
                font-weight: 300;
                line-height: 1.5;
            }
        }
    }

}

/////////////////////////////////////////////////////////////// FOOTER

footer {
    background-color: $background-primary;
    
    .footer-grid {
        display: grid;
        height: 28rem;
        max-width: 140rem;
        margin: 0 auto;
        padding: 0 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.2rem 1fr;
        grid-template-areas: 
        "hello up"
        "line line"
        "social legal"
        ;
        .say-hello {
            grid-area: hello;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding-bottom: 2.2rem;
            font-size: 3rem;
            img {
                height: 2rem;
            }
        }
        .up {
            grid-area: up;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-bottom: 2.2rem;
            font-size: 3rem;
            img {
                height: 3rem;
                padding: 0 0 0.3rem 1rem;
            }
        }
        .line {
            grid-area: line;
            height: 0.1rem;
            border-bottom: 0.2rem solid $color-primary;
            width: 100%;
            display: flex;
            align-items: center;
        }
        .social {
            grid-area: social;
            font-size: 1.8rem;
            padding-top: 2rem;
            display: flex;
            justify-content: flex-start;
        }
        .page-info {
            grid-area: legal;
            font-size: 1.8rem;
            padding-top: 2rem;
            display: flex;
            justify-content: flex-end;
            p {
                padding-left: 2rem;
            }
        }   
    }
}

/////////////////////////////////////////////////////////////// BOTTOM BAR

.bar {
    grid-area: bar;
    background-color: $color-primary;
    height: 4rem;
    color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
}

//////////////////////////////////////////////////   BOUNCE ANIMATION

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-15px);}
    60% {transform: translateY(-10px);}
  }
  .bounce {
    animation-name: bounce;
  }

//////////////////////////////////////////////////   MEDIA QUERY

@media (max-width: 1024px) {
    .landing-page  {
        .landing-grid {
            .emoji {
                 .circle {
                     min-height: 35rem;
                     min-width: 35rem;
                     background-position: 3.1rem 2.3rem;
                     background-size: 32rem;
                 }    
            }
        }
    } 
}
@media (max-width: 999px) {
    .landing-page  {
        .landing-grid {
            .emoji {
                 .circle {
                     min-height: 32rem;
                     min-width: 32rem;
                     background-position: 3.1rem 2.3rem;
                     background-size: 29rem;
                 }    
            }
        }
    } 
}
@media (max-width: 935px) {
    .landing-page  {
        .landing-grid {
            .title {
                h2 {
                    font-size: clamp(2.8rem, 3.4vw, 5rem);
                }
            }
            .emoji {
                 .circle {
                     min-height: 30rem;
                     min-width: 30rem;
                     background-position: 3.1rem 2.3rem;
                     background-size: 27rem;
                 }    
            }
        }
    } 
}
@media (max-width: 790px) {
    .landing-page  {
        .landing-grid {
            .nav {
                grid-area: none;
                position: absolute;
                left: 0rem;
                width: 100%;
                font-size: 1.8rem;
                &__list {
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 2rem;
                    margin: 2rem 0rem;
                    height: 100vh;
                    background-color: none;
                    &logo {
                        padding: 2rem;
                        transition: none;
                        &:hover {
                            color: none;
                        }
                    }
                    &item {
                        display: none;
                        padding: 1rem;
                        margin: 5rem 0;
                        cursor: pointer;
                        &::after {
                            width: 0;
                        }
                        &:hover::after, &:focus::after {
                            width: 0;
                        }
                        &:hover ul, &:focus ul {
                            opacity: 0;
                            visibility: hidden;
                        }
                        &drop {
                            display: none;
                        }
                    }
                }
            }
            .title {
                h2 {
                    font-size: clamp(2.4rem, 3.4vw, 5rem);
                }
            }
            .emoji {
                 .circle {
                     min-height: 26rem;
                     min-width: 26rem;
                     background-position: 2.5rem 2rem;
                     background-size: 24rem;
                 }    
            }
            .nav__listitem, .nav__arrow {
                transition: none;
                &:hover .nav__arrow {
                    transform: none;
                }
            }
            .nav__toggle {
                visibility: visible;
                opacity: 1;
            }
        }
    } 
}





@media (max-width: 691px) {
    .landing-page  {
        .landing-grid {
            grid-gap: 0.5rem;
            grid-template-columns: 1fr;
            grid-template-rows: 0.4fr 0.8fr 0.8fr 0.5fr 1fr;
            grid-template-areas:
                "nav"
                "emoji"
                "title"
                "button"
                "arrow"
            ;
            // TITLE
            .title {
                padding: 1rem;
                h2 {
                    font-size: clamp(2.4rem, 3.4vw, 5rem);
                }
            }
            // EMOJI
            .emoji {
                padding: 1rem;
                justify-content: center;
                align-items: center;
                 .circle {
                     min-height: 17rem;
                     min-width: 17rem;
                     background-image: url(/images/emoji_peace.svg);
                     background-position: 1.9rem 1.6rem;
                     background-repeat: no-repeat;
                     background-size: 15rem;
                 }    
            }
            // HOVER BUTTON
            .hover-btn {
                justify-content: center;
                align-items: center;
                border-bottom: none;
                button {
                    padding: 2rem 5rem;
                    width: 100%;
                    margin-bottom: none;
                }
            }
            // DROPDOWN BUTTON
            .down-arrow {
                padding-top: 1rem;
                img {
                    height: 3rem;
                }
            }
        }
    } 
}