@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');

$color-primary: hsl(224, 55%, 47%);
$color-secondary: hsl(0, 0%, 98%);
$color-lightblue: hsl(225, 50%, 92%);
$drop-down-hover: hsl(0, 0%, 88%);
$background-primary: hsl(0, 0%, 90%);
$background-secondary: hsl(0, 0%, 100%);
$background-hover: hsla(224, 55%, 47%, 0.10);
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 680px;
$breakpoint-mobile: 414px;
$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'Work Sans', sans-serif;

// UTILITIES 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    background-color: $background-secondary;
    font-size: 1.6rem;
    color: $color-primary;
}
h1, h2, h3, h4 {
    margin: 0;
}

li {
    list-style: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: $color-primary;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.container {
    width: calc(100% - 5rem);
    max-width: 1440px;
    margin: 0 auto;
}

/////////////////////////////////////////////////////////////// LANDING PAGE

.landing__page {
    height: 100vh;
    background: $background-primary;
    .landing__grid {
        display: grid;
        grid-template-columns: 1.7fr 1fr;
        grid-template-rows: 10vh 50vh 10vh 30vh;
        grid-template-areas: 
        "nav    nav"
        "title  emoji"
        "btn    btn"
        "arrow  arrow";
        grid-gap: 0.5rem;
    }
}
nav {
    grid-area: nav;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    font-size: 1.8rem;
    font-weight: 400;
    .nav__logo {
        a {
            transition: 250ms ease;
        }
        :hover {
            opacity: 0.3;
        }
    }
    .nav__list {
        display: flex;
        &item {
            margin-left: 5rem;
            padding: 2rem 0.2rem;
            position: relative;
            &::after {
                content: "";
                width: 0;
                height: 0.2rem;
                position: absolute;
                left: 0rem;
                bottom: 1.4rem;
                background: $color-primary;
                transition: width 250ms ease-in-out;
            }
            &:hover::after, &:focus::after {
                width: 100%;
            }
            &:hover ul, &:focus ul {
                opacity: 1;
                visibility: visible;
            }
            &drop {
                display: flex;
                position: absolute;
                flex-direction: column;
                justify-content: center;
                background: $background-secondary;
                box-shadow: 0 0 6rem hsla(0, 0%, 0%, 0.07);
                width: 25.7rem;
                padding: 1rem;
                gap: 0.1rem;
                top: 5.8rem;
                left: -9rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity 250ms ease-in-out;
                li {
                    padding: 1.2rem 0.1rem;
                    transition: background 250ms ease-in-out;
                    .nav__link1 {
                        padding: 1rem 2rem 1rem 2rem;
                    }
                    .nav__link2 {
                        padding: 1rem 15.5rem 1rem 2rem;
                    }
                    .nav__link3 {
                        padding: 1rem 8.5rem 1rem 2rem;
                    }
                    .nav__link4 {
                        padding: 1rem 11.55rem 1rem 2rem;
                    }
                    &:hover, &:focus {
                        background: $background-hover;
                    }
                }
            }
        }
    }
    .nav__listitem, .nav__arrow {
        transition: 300ms ease-in-out;
        &:hover .nav__arrow {
            transform: rotate(90deg);
        }
    }
    label {
        visibility: hidden;
        opacity: 0;
        width: 5rem;
        height: 5.5rem;
        background-color: transparent;
        position: absolute;
        cursor: pointer;
        top: 2.5rem;
        &::after,
        &::before {
            content: "";
            width: 5rem;
            height: 0.3rem;
            background-color: $color-primary;
            position: absolute;
            display: block;
            transition: all 400ms cubic-bezier(1,0,0,1);
        }
        &::before {
            top: 1.6rem;
            left: 0%;
            transform-origin: center;
            transform: rotate(0deg)
        }
        &::after {
            bottom: 1.8rem;
            left: 0%;
            transform-origin: center;
            transform: rotateZ(0deg);
        }
    }
    #toggle:checked ~ label::before {
        transform: rotateZ(31deg);
        top: 2.5rem;
        left: 0%;
    }
    #toggle:checked ~ label::after {
        transform: rotateZ(-31deg);
        bottom: 2.6rem;
        left: 0%;
    }
    #toggle ~ label {
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    input {
        display: none;
    }
    @media screen and (max-width: 1024px) {
        .nav__list {
            display: none;
            flex-direction: column;
            background: $background-secondary;
            position: absolute;
            align-items: center;
            justify-content: center;
            top: 7rem;
            width: 100%;
            height: 90vh;
            font-size: 3rem;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            &item {
                margin: 4rem 0;
                padding: 0rem;
                a {
                    padding: 2rem;
                }
                &::after {
                    visibility: hidden;
                    opacity: 0;
                }
                &:hover::after, &:focus::after {
                    width: 0;
                }
                &:hover ul, &:focus ul {
                    opacity: 0;
                    visibility: hidden;
                }
                &drop {
                    display: none;
                }
            }
            img {
                width: 2.2rem;
            }
        }
        .nav__listitem, .nav__arrow {
            &:hover .nav__arrow {
                transform: rotate(0deg);
            }
        }
        label {
            visibility: visible;
            opacity: 1;
            width: 5rem;
            height: 5.5rem;
            background-color: transparent;
            position: absolute;
            cursor: pointer;
            top: 0.6rem;
            right: 0rem;
            &::after,
            &::before {
                content: "";
                width: 5rem;
                height: 0.3rem;
                background-color: $color-primary;
                position: absolute;
                display: block;
                transition: all 400ms cubic-bezier(1,0,0,1);
            }
            &::before {
                top: 1.6rem;
                left: 0%;
                transform-origin: center;
                transform: rotate(0deg)
            }
            &::after {
                bottom: 1.8rem;
                left: 0%;
                transform-origin: center;
                transform: rotateZ(0deg);
            }
        }
        .nav__checkbox:checked ~ ul.nav__list{
            display: flex;
            opacity: 1;
            visibility: visible;
        }
    }
}
.hero__title {
    grid-area: title;
    display: flex;
    align-items: center;
    h2 {
        padding: 5rem 0;
        font-weight: 300;
        font-size: 5.3rem;
        line-height: 7.2rem;
    }
    .hero__titlemain {
        display: block;
    }
    .hero__titlesecondary {
        display: none;
    }
}
.hero__emoji {
    grid-area: emoji;
    display: flex;
    justify-content: center;
    align-items: center;
    .circle {
        height: 40rem;
        width: 40rem;
        border: 1px solid $color-primary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 23rem;
            &:hover {
                animation: hithere 2s;
            }
        }
    }
}
.hero__btn {
    grid-area: btn;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $color-primary;
    button {
        background-color: transparent;
        border: 1px solid $color-primary;
        padding: 2rem 5rem;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: 'Space Grotesk', sans-serif;
        color: $color-primary;
        margin-bottom: -0.1rem;
        &:hover {
            background-color: $color-primary;
            color: white;
        }
    }
}
.hero__arrow {
    grid-area: arrow;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3.5rem;
    animation: bounce;
    img {
        width: 3.5rem;
    }
}
@media screen and (max-width: 1024px) {
    .landing__page {
        .landing__grid {
            grid-template-rows: 4.5vh 54.5vh 10vh 30vh;
        }
    }
    .hero__title {
        h2 {
            font-size: 3.3rem;
        }
    }
    .hero__emoji {
        .circle {
            height: 37rem;
            width: 37rem;
            img {
                width: 21rem;
            }
        }
    }
    .hero__arrow {
        img {
            width: 3rem;
        }
        z-index: 0;
    }
}
@media screen and (max-width: 768px) {
    .landing__page {
        .landing__grid {
            grid-template-rows: 6vh 52vh 10vh 30vh;
        }
    }
    .hero__title {
        h2 {
            font-size: 2.4rem;
            line-height: 5rem;
        }
    }
    .hero__emoji {
        .circle {
            height: 27rem;
            width: 27rem;
            img {
                width: 16rem;
            }
        }
    }
}
@media screen and (max-width: 724px) {
    .landing__page {
        .landing__grid {
            grid-template-columns: 1fr;
            grid-template-rows: 7vh 27vh 33vh 10vh 20vh;
            grid-template-areas: 
            "nav"
            "emoji"
            "title"
            "btn"
            "arrow";
        }
    }
    .hero__title {
        h2 {
            padding: 2rem 0;
            font-size: 3.9rem;
            line-height: 5.9rem;
        }
    }
    .hero__emoji {
        justify-content: flex-start;
        align-items: flex-end;
        .circle {
            height: 22rem;
            width: 22rem;
            img {
                width: 13rem;
            }
        }
    }
    .hero__btn {
        grid-area: btn;
        align-items: center;
        border-bottom: none;
        button {
            width: 100%;
            margin-bottom: 0rem;
        }
    }
    .hero__arrow {
        padding-bottom: 2rem;
        img {
            width: 2.5rem;
        }
    }
}
@media screen and (max-width: 414px) {
    .landing__page {
        .landing__grid {
            grid-template-columns: 1fr;
            grid-template-rows: 8vh 26vh 32vh 10vh 20vh;
            grid-template-areas: 
            "nav"
            "emoji"
            "title"
            "btn"
            "arrow";
        }
    }
    .hero__title {
        grid-area: title;
        display: flex;
        align-items: center;
        h2 {
            padding: 1rem 0;
            font-weight: 300;
            font-size: 2rem;
            line-height: 4.2rem;
        }
        .hero__titlemain {
            display: block;
        }
        .hero__titlesecondary {
            display: none;
        }
    }
    .hero__emoji {
        grid-area: emoji;
        .circle {
            height: 15rem;
            width: 15rem;
            border: 1px solid $color-primary;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 8rem;
                &:hover {
                    animation: hithere 2s;
                }
            }
        }
    }    
}

main {
    h4 {
        font-size: 10rem;
        font-weight: 300;
        padding: 17rem 0 10rem 0;
    }
    .project__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 5rem;
        row-gap: 10rem;
        .project__image {
            height: 40rem;
            background-color: $color-lightblue;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 6rem hsla(0, 0%, 0%, 0.07);
            img {
                width: 51rem;
                padding: 2rem;
            }
        }
        .project__info {
            display: grid;
            grid-template-rows: 8rem 21rem 1.5fr;
            h5 {
                justify-self: start;
                align-self: flex-start;
                font-size: 5.5rem;
                font-weight: 300;
            }
            p {
                justify-self: start;
                align-self: flex-start;
                font-size: 2.2rem;
                font-weight: 300;
                font-family: $font-secondary;
                line-height: 3.8rem;
        
            }
            button {
                justify-self: start;
                align-self: flex-end;
                background-color: transparent;
                border: 1px solid $color-primary;
                background-image: url(/images/arrow-angle.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 3rem;
                padding: 3rem;
                height: 10rem;
                width: 10rem;
                transition: all 300ms ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 3.1rem;
                    opacity: 0;
                }
                &:hover, 
                &:active {
                    background-color: $color-primary;
                    background-image: none;
                    background-position: center;
                    background-repeat: no-repeat;
                    img {
                        opacity: 1;
                    }
                }
            }  
        }
    }
    @media screen and (max-width: 1024px) {
        h4 {
            font-size: 9rem;
            padding: 10rem 0 8rem 0;
        }
        .project__grid {
            gap: 3rem;
            row-gap: 10rem;
            .project__image {
                height: 37rem;
                img {
                    width: 38rem;
                    padding: 1rem;
                }
            }
            .project__info {
                display: grid;
                grid-template-rows: 6rem 20rem 1fr;
                h5 {
                    font-size: 4rem;
                }
                p {
                    font-size: 2.1rem;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        h4 {
            font-size: 8rem;
            padding: 8rem 0 6rem 0;
        }
        .project__grid {
            row-gap: 8rem;
            .project__image {
                height: 30rem;
                img {
                    width: 29rem;
                    padding: 1rem;
                }
            }
            .project__info {
                display: grid;
                grid-template-rows: 4rem 17rem 1fr;
                h5 {
                    font-size: 2.9rem;
                }
                p {
                    font-size: 2rem;
                    line-height: 3.3rem;
                }
                button {
                    height: 8rem;
                    width: 8rem;
                }  
            }
        }
    }
    @media screen and (max-width: 724px) {
        h4 {
            font-size: 7.5rem;
            padding: 8rem 0 6rem 0;
        }
        .project__grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
            row-gap: 1rem;
            .project__image {
                height: 40rem;
                img {
                    width: 51rem;
                    padding: 2rem;
                }
            }
            .project__info {
                display: grid;
                margin-bottom: 13rem;
                grid-template-rows: 7rem 1.2fr 1fr;
                h5 {
                    justify-self: start;
                    align-self: flex-start;
                    font-size: 5rem;
                    font-weight: 300;
                }
                p {
                    justify-self: start;
                    align-self: flex-start;
                    font-size: 2rem;
                    font-weight: 300;
                    font-family: $font-secondary;
                    line-height: 3.8rem;
            
                }
                button {
                    justify-self: start;
                    align-self: flex-end;
                    background-color: transparent;
                    border: 1px solid $color-primary;
                    background-image: url(/images/arrow-angle.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 3rem;
                    padding: 3rem;
                    height: 8rem;
                    width: 100%;
                    transition: all 300ms ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 3.1rem;
                        opacity: 0;
                    }
                    &:hover, 
                    &:active {
                        background-color: $color-primary;
                        background-image: none;
                        background-position: center;
                        background-repeat: no-repeat;
                        img {
                            opacity: 1;
                        }
                    }
                }  
            }
        }
    }
    @media screen and (max-width: 414px) {
        h4 {
            font-size: 5.5rem;
            padding: 6rem 0 4rem 0;
        }
        .project__grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.4fr 0.3fr;
            row-gap: 1rem;
            .project__image {
                height: 23rem;
                img {
                    width: 30rem;
                    padding: 1rem;
                }
            }
            .project__info {
                display: grid;
                margin-bottom: 6rem;
                grid-template-rows: 4rem 1fr 8rem;
                h5 {
                    justify-self: start;
                    align-self: flex-start;
                    font-size: 2.9rem;
                    font-weight: 300;
                }
                p {
                    justify-self: start;
                    padding-top: 0.8rem;
                    align-self: flex-start;
                    font-size: 1.8rem;
                    font-weight: 300;
                    font-family: $font-secondary;
                    line-height: 2.9rem;
                }
                button {
                    justify-self: start;
                    align-self: flex-end;
                    background-color: transparent;
                    border: 1px solid $color-primary;
                    background-image: url(/images/arrow-angle.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 2.4rem;
                    padding: 3rem;
                    height: 6rem;
                    width: 100%;
                    transition: all 300ms ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 2.4rem;
                        opacity: 0;
                    }
                    &:hover, 
                    &:active {
                        background-color: $color-primary;
                        background-image: none;
                        background-position: center;
                        background-repeat: no-repeat;
                        img {
                            opacity: 1;
                        }
                    }
                }  
            }
        }
    }
}

footer {
    background-color: $background-primary;
    .footer__grid {
        margin-top: 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15rem 2rem 13rem;
        grid-template-areas: 
        "contact    up"
        "line       line"
        "social     copy";
        .say-hello {
            grid-area: contact;
            font-size: 2.4rem;
            font-weight: 400;
            padding: 8rem 0 3rem 0;
            justify-self: flex-start;
            align-self: flex-start;
            img {
                width: 1.7rem;
            }
        }
        .up {
            font-size: 2.4rem;
            font-weight: 400;
            grid-area: up;
            justify-self: flex-end;
            align-self: flex-start;
            padding: 8rem 0 3rem 0;
            img {
                width: 1.8rem;
            }
        }
        .line {
            height: 0.1rem;
            width: 100%;
            background-color: $color-primary;
            grid-area: line;
            align-self: center;
        }
        .social {
            font-size: 1.8rem;
            font-weight: 400;
            grid-area: social;
            display: flex;
            gap: 2.5rem;
            padding: 1rem 0;
            justify-self: flex-start;
            align-self: flex-start;
        }
        .page-info {
            font-size: 1.8rem;
            font-weight: 400;
            grid-area: copy;
            display: flex;
            gap: 2.5rem;
            justify-self: flex-end;
            align-self: flex-start;
            align-items: center;
            padding: 0rem 0;
            img {
                width: 3.8rem;
            }
            .selfcoded {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        .footer__grid {
            margin-top: 13rem;
        }
    }
    @media screen and (max-width: 768px) {
        .footer__grid {
            margin-top: 12rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 10rem 2rem 8rem;
            .say-hello {
                font-size: 2.1rem;
                padding: 5rem 0 0 0;
                img {
                    width: 1.5rem;
                }
            }
            .up {
                font-size: 2.1rem;
                padding: 5rem 0 0 0;
                img {
                    width: 1.5rem;
                }
            }
            .social {
                font-size: 1.4rem;
                padding: 0.8rem 0;
                img {
                    width: 1rem;
                }
            }
            .page-info {
                font-size: 1.4rem;
                gap: 1rem;
                padding: 0 0;
                img {
                    width: 3.1rem;
                }
                .selfcoded {
                    gap: 0.2rem;
                }
            }
        }
    }
    @media screen and (max-width: 724px) { 
    }
    @media screen and (max-width: 414px) {
        .footer__grid {
            margin-top: 6rem;
            display: grid;
            grid-template-columns: 1fr 0.8fr;
            grid-template-rows: 14rem 7rem 2rem 15rem;
            grid-template-areas: 
            "hi     up" 
            "social ."
            "line   line"
            "copy   .";
            .say-hello {
                grid-area: hi;
                font-size: 2.1rem;
                padding: 6rem 0 0 0;
                img {
                    width: 1.5rem;
                }
            }
            .up {
                grid-area: up;
                font-size: 2.1rem;
                padding: 6rem 0 0 0;
                img {
                    width: 1.5rem;
                }
            }
            .social {
                display: flex;
                gap: 1.2rem;
                flex-direction: column;
                grid-area: social;
                font-size: 1.8rem;
                padding: 0;
                img {
                    width: 1.2rem;
                }
            }
            .line {
                grid-area: line;
            }
            .page-info {
                justify-self: flex-start;
                align-items: flex-start;
                flex-direction: column;
                grid-area: copy;
                font-size: 1.6rem;
                gap: 1rem;
                padding: 0.5rem 0 0 0;
                img {
                    width: 2.4rem;
                }
                .selfcoded {
                    gap: 0.4rem;
                }
                .dot {
                    display: none;
                }
            }
        }
    }
}

.bar {
    background-color: $color-primary;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        align-self: center;
        font-size: 1.6rem;
        color: $background-secondary;
        font-weight: 300;
    }
    @media screen and (max-width: 768px) {
        height: 3rem;
        p {
            font-size: 1.3rem;
        }
    }
    @media screen and (max-width: 724px) {
        
    }
    @media screen and (max-width: 414px) {
        
    }
    
}

// ANIMATIONS

.animated {
    animation-duration: 2100ms;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-8px);}
    60% {transform: translateY(-10px);}
}
.bounce {
    animation-name: bounce;
}
.hithere {
    animation-name: hithere 1500ms;
}
@keyframes hithere {
    30% { transform: scale(1.1); }
    40%, 60% { transform: rotate(-20deg) scale(1.1); }
    50% { transform: rotate(20deg) scale(1.1); }
    70% { transform: rotate(0deg) scale(1.1); }
    100% { transform: scale(1); }
}
